#granny {
  max-width: 15%;
  height: auto;
}

#headlinerVideo {
  position: static;
  width: 70%;
  height: 20%;
}

.breadcrumb {
  background-color: rgb(59, 57, 57);
}

body {
  background-color: rgb(59, 2, 2);
}

.navbar {
  background-color: #000000;
}

#hamburger {
  color: rgb(99, 98, 98);
}

.table td,
p {
  color: yellow;
}

.table th,
h5 {
  color: rgb(255, 255, 255)
}

h2 {
  color: rgb(185, 112, 1);
}

h6 {
  color: rgb(174, 174, 174);
}

h3 {
  color: rgb(174, 174, 174);
}

h1 {
  color: rgb(149, 146, 0);
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #1a1a1a, rgb(59, 2, 2), #1a1a1a);
  color: rgb(149, 146, 0);
}

.carousel-item img {
  width: 350px;
  max-height: 500px;
}


.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  transform: translateX(-33%);
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);

}

#headlinerCard {
  background-color: rgb(59, 2, 2);
}